<%inherit file="base.htm" />

<%block name="content">
<div class="wrapper">
    <section id="users">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills nav-fill">
                      <li class="nav-item">
                        <a class="nav-link" href="/securityflaws">Security Flaws</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/users">Users</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/logout">Logout</a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="users.create" class="btn btn-dark">Create new user</a>
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-responsive">
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Superuser</th>
                                    <th>Actions</th>
                                </tr>
                                %for u in users:
                                <tr>
                                    <td>${ u.id | h }</td>
                                    <td>${ u.username | h }</td>
                                    <td>${ u.first_name | h } ${ u.last_name | h }</td>
                                    <td>${ u.email | h }</td>
                                    <td>${ u.is_superuser | h }</td>
                                    <td>
                                        <a href="/users.edit/${ u.id | u }">Edit</a> |
                                        <a href="/users.delete/${ u.id | u }" onclick="return checkfunction()">Delete</a>
                                    </td>
                                </tr>
                                <script type="text/javascript">
                                function checkfunction(){
                                    var name = "${ u.username | u,trim }";
                                    var result = confirm("Want to delete " + decodeURI(name) + "?");
                                    if (result){
                                        return true;
                                    } else {
                                        return false;
                                    }
                                }
                                </script>
                                %endfor

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</%block>
